/* Hover CSS */
.commission-card {
  transition: all 0.5s linear;
}
.commission-card:hover {
  transform: scale(1.05);
}
.user-btn {
  font-weight: 600;
  transition: all 0.3s linear;
}
.user-btn:hover {
  transform: scale(0.95);
}

/*
 * Google Fonts
 */
* {
font-family: 'Nanum Gothic', sans-serif;
}

/* 
 * Position adjust for commissions (index & show) on small screen
 */

 /* Commission Body: Image is mal-positioned */
@media screen and (max-width: 565px) {
  .body-adjust {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 990px) {
  .show-pg-adjust {
    margin-top: 30px
  }
}